  <div class="s-nakami">
    <div class="ibukuro">
      <div class="nakami-name">
        <%= message.user.name%>
      </div>
      <div class="nakami-time">
        <%= l message.created_at%>
      </div>
    </div>
    <div class="daichyou">
      <div class="nakami-gohan">
        <%= message.content%>
      </div>
      <%= image_tag message.image.variant(resize:'500x500'), class: 'message-image' if message.image.attached? %>
    </div>
  </div>