  <div class="s-nakami">
    <div class="ibukuro">
      <div class="nakami-name">
        <%= message.user.name%>
      </div>
      <div class="nakami-time">
        <%= message.created_at%>
      </div>
    </div>
    <div class="daichyou">
      <div class="nakami-gohan">
        <%= message.content%>
      </div>
    </div>
  </div>