<div class="kuro-atama">
   <div class="k-migime">
     <%= link_to current_user.name, edit_user_path(current_user) %>
   </div>
   <div class="k-hidarime">
      <%= link_to "チャットを作成する", new_room_path %>
   </div>
</div>
  
<div class="kuro-karada">
  <% current_user.rooms.each do |room| %>
    <div class="k-nakami">
      <div class="k-nakami-gohan">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
</div>
