<div class="kuro-atama">
   <div class="k-migime">
     <%= link_to current_user.name, edit_user_path(current_user) %>
   </div>
   <div class="k-hidarime">
      <a href="#">チャットを作成する</a>
   </div>
</div>
  
<div class="kuro-karada">
  <div class="k-nakami">
    <div class="k-nakami-gohan">
      <a href="#">techroom1</a>
    </div>
  </div>
  <div class="k-nakami">
    <div class="k-nakami-gohan">
      <a href="#">techroom2</a>
    </div>
  </div>
</div>
